* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tgtheme-bg-color);
}

.container {
    max-width: 390px;
}

.inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 210px 210px 210px;
}

.img {
    width: 125px;
}

.item {
    text-align: center;
}

.title {
    font-weight: 700;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgb(248, 168, 24);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;

    transition: all .2s ease-out;
}

.btn:hover {
    background: rgb(201, 137, 20);
}

.added-to-cart {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgb(205, 50, 50);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;

    transition: all .2s ease-out;
}

.added-to-cart:hover {
    background: rgb(164, 40, 40);
}

